.logo {
  background: linear-gradient(
    45deg,
    rgba(145, 0, 248, 1),
    #fb09b4,
    rgb(145, 0, 248)
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-background 5s linear infinite;
}
@keyframes gradient-background {
  to {
    background-position: 300%;
  }
}

.menu> li> a{
  font-weight: 600;
}
